// Colors
$color-primary-1: #21061d;
$color-primary-2: #330d28;
$color-primary-3: #900c3e;
$color-secondary: #ffc300;

$color-white: #ffffff;
$color-gray-light-1: #EEEEEE;
$color-gray-dark-1: rgb(70, 57, 61);
