@import "./mixins";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 62.5%; // 1rem = 10px

    @include respond(desktop) {
        font-size: 60%;
    }
    @include respond(laptop) {
        font-size: 56.25%;
    }
    @include respond(tablet-land) {
        font-size: 53%;
    }
    @include respond(tablet-port) {
        font-size: 50%;
    }
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.6;
    background-color: #21061d;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

@media (max-witdh: 600px) {

}