// Colors
$color-primary: #eb4559;
$color-secondary: #363062;
$color-tertiary: #2c0046;

$color-white: #ffffff;
$color-gray-light-1: #eeeeee;
$color-gray-dark-1: #393e46;

//Toast Alerts
$color-success: rgb(107, 189, 110);
$color-error: rgb(246, 99, 89);
$color-warning: rgb(255, 170, 44);
$color-info: rgb(71, 168, 245);

//Fonts
